body{
    font-family: sans-serif;
    max-width: 600px;
    margin: 40px auto;
    padding: 20px;
}

button{
    padding: 8px 16px;
    cursor: pointer;
}
.Deletebtn{
    padding: 20px;
    margin-left: 20px;
}
.Deletebtn:hover{
    cursor: pointer;
    
}
li{
    border-bottom: 1.5px solid black;
}
.done{
    text-decoration: line-through;
    color: #999;
}
.done:hover{
    cursor: pointer;
}